/* Media query for wide browsers */
@media (max-width: 3000px) {
  .container {
    width: 400px;
  }
}

/* Media query for narrow browsers */
@media (max-width: 960px) {
  .container {
    width: 400px;
  }
}
/* Media query for tablet */
@media (max-width: 768px) {
  .container {
    width: 400px;
  }
}
/* Media query for smart-phones (568 normally but I'm going to go larger just in case)*/
@media (max-width: 630px) {
  .container {
    width: 95%;
  }
}
